# K-Nearest Neighbor Model Implementation

<img src="../images/KNN - Model for Group Assigment.jpg" alt="Alternative text" />

#### IMPORTS

In [20]:
import numpy as np
import pandas as pd
import sklearn.neighbors as skl_nb
import sklearn.model_selection as skl_ms
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

import sys
sys.path.append("..")

from utils.loading_data  import load_to_df_from_csv, get_all_feature_combinations
from utils.knn_functions import find_best_k_with_misclassification_cv, model_iterator_cv, data_normalizer

#### STEP 1: LOADING DATA

In [21]:
# Loading the train.csv as the main dataset
data = load_to_df_from_csv("../data/train.csv")

# Column Transformation to lowercase and underscored spaces
data.columns = data.columns.str.replace(' ', '_')
data.columns = data.columns.str.replace('-', '_')
data.columns = data.columns.str.lower()

X = data.loc[:, data.columns != 'lead']
y = data.loc[:, data.columns == 'lead']

### Exploring data

In [22]:
data.shape

(1039, 14)

In [23]:
data.describe()

,number_words_female,total_words,number_of_words_lead,difference_in_words_lead_and_co_lead,number_of_male_actors,year,number_of_female_actors,number_words_male,gross,mean_age_male,mean_age_female,age_lead,age_co_lead
count,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000
mean,2334.256015,11004.368624,4108.256978,2525.024062,7.767084,1999.862368,3.507218,4561.855630,111.149182,42.353766,35.929588,38.716073,35.486044
std,2157.216744,6817.397413,2981.251156,2498.747279,3.901439,10.406632,2.088526,3417.855987,151.761551,7.817110,8.957193,12.285902,12.046696
min,0.000000,1351.000000,318.000000,1.000000,1.000000,1939.000000,1.000000,0.000000,0.000000,19.000000,11.000000,11.000000,7.000000
25%,904.000000,6353.500000,2077.000000,814.500000,5.000000,1994.000000,2.000000,2139.500000,22.000000,37.480769,29.500000,30.000000,28.000000
50%,1711.000000,9147.000000,3297.000000,1834.000000,7.000000,2000.000000,3.000000,3824.000000,60.000000,42.600000,35.000000,38.000000,34.000000
75%,3030.500000,13966.500000,5227.000000,3364.000000,10.000000,2009.000000,5.000000,5887.500000,143.500000,47.333333,41.500000,46.000000,41.000000
max,17658.000000,67548.000000,28102.000000,25822.000000,29.000000,2015.000000,16.000000,31146.000000,1798.000000,71.000000,81.333333,81.000000,85.000000

### Normalization Check

In [24]:
data_normalizer(X).describe()

,number_words_female,total_words,number_of_words_lead,difference_in_words_lead_and_co_lead,number_of_male_actors,year,number_of_female_actors,number_words_male,gross,mean_age_male,mean_age_female,age_lead,age_co_lead
count,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000
mean,0.132193,0.145828,0.136419,0.097751,0.241682,0.800821,0.167148,0.146467,0.061818,0.449111,0.354449,0.395944,0.365206
std,0.122167,0.102987,0.107301,0.096772,0.139337,0.136929,0.139235,0.109737,0.084406,0.150329,0.127353,0.175513,0.154445
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.051195,0.075570,0.063310,0.031505,0.142857,0.723684,0.066667,0.068693,0.012236,0.355399,0.263033,0.271429,0.269231
50%,0.096897,0.117770,0.107220,0.070989,0.214286,0.802632,0.133333,0.122777,0.033370,0.453846,0.341232,0.385714,0.346154
75%,0.171622,0.190575,0.176684,0.130243,0.321429,0.921053,0.266667,0.189029,0.079811,0.544872,0.433649,0.500000,0.435897
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
feature_combinations = get_all_feature_combinations(X.columns)

# 8191 if needed to run for all combinations
results = model_iterator_cv(data_normalizer(X), y, feature_combinations, 10)

1 OUT OF 150 ITERATIONS COMPLETED - 0.6666666666666666%
2 OUT OF 150 ITERATIONS COMPLETED - 1.3333333333333333%
3 OUT OF 150 ITERATIONS COMPLETED - 2.0%
4 OUT OF 150 ITERATIONS COMPLETED - 2.6666666666666665%
5 OUT OF 150 ITERATIONS COMPLETED - 3.3333333333333335%
6 OUT OF 150 ITERATIONS COMPLETED - 4.0%
7 OUT OF 150 ITERATIONS COMPLETED - 4.666666666666667%
8 OUT OF 150 ITERATIONS COMPLETED - 5.333333333333333%
9 OUT OF 150 ITERATIONS COMPLETED - 6.0%
10 OUT OF 150 ITERATIONS COMPLETED - 6.666666666666667%
11 OUT OF 150 ITERATIONS COMPLETED - 7.333333333333333%
12 OUT OF 150 ITERATIONS COMPLETED - 8.0%
13 OUT OF 150 ITERATIONS COMPLETED - 8.666666666666666%
14 OUT OF 150 ITERATIONS COMPLETED - 9.333333333333334%
15 OUT OF 150 ITERATIONS COMPLETED - 10.0%
16 OUT OF 150 ITERATIONS COMPLETED - 10.666666666666666%
17 OUT OF 150 ITERATIONS COMPLETED - 11.333333333333334%
18 OUT OF 150 ITERATIONS COMPLETED - 12.0%
19 OUT OF 150 ITERATIONS COMPLETED - 12.666666666666666%
20 OUT OF 150 ITERATIONS COMPLETED - 13.333333333333334%
21 OUT OF 150 ITERATIONS COMPLETED - 14.0%
22 OUT OF 150 ITERATIONS COMPLETED - 14.666666666666666%
23 OUT OF 150 ITERATIONS COMPLETED - 15.333333333333334%
24 OUT OF 150 ITERATIONS COMPLETED - 16.0%
25 OUT OF 150 ITERATIONS COMPLETED - 16.666666666666668%
26 OUT OF 150 ITERATIONS COMPLETED - 17.333333333333332%
27 OUT OF 150 ITERATIONS COMPLETED - 18.0%
28 OUT OF 150 ITERATIONS COMPLETED - 18.666666666666668%
29 OUT OF 150 ITERATIONS COMPLETED - 19.333333333333332%
30 OUT OF 150 ITERATIONS COMPLETED - 20.0%
31 OUT OF 150 ITERATIONS COMPLETED - 20.666666666666668%
32 OUT OF 150 ITERATIONS COMPLETED - 21.333333333333332%
33 OUT OF 150 ITERATIONS COMPLETED - 22.0%
34 OUT OF 150 ITERATIONS COMPLETED - 22.666666666666668%
35 OUT OF 150 ITERATIONS COMPLETED - 23.333333333333332%
36 OUT OF 150 ITERATIONS COMPLETED - 24.0%
37 OUT OF 150 ITERATIONS COMPLETED - 24.666666666666668%
38 OUT OF 150 ITERATIONS COMPLETED - 25.333333333333332%
39 OUT OF 150 ITERATIONS COMPLETED - 26.0%
40 OUT OF 150 ITERATIONS COMPLETED - 26.666666666666668%
41 OUT OF 150 ITERATIONS COMPLETED - 27.333333333333332%
42 OUT OF 150 ITERATIONS COMPLETED - 28.0%
43 OUT OF 150 ITERATIONS COMPLETED - 28.666666666666668%
44 OUT OF 150 ITERATIONS COMPLETED - 29.333333333333332%
45 OUT OF 150 ITERATIONS COMPLETED - 30.0%
46 OUT OF 150 ITERATIONS COMPLETED - 30.666666666666668%
47 OUT OF 150 ITERATIONS COMPLETED - 31.333333333333332%
48 OUT OF 150 ITERATIONS COMPLETED - 32.0%
49 OUT OF 150 ITERATIONS COMPLETED - 32.666666666666664%
50 OUT OF 150 ITERATIONS COMPLETED - 33.333333333333336%
51 OUT OF 150 ITERATIONS COMPLETED - 34.0%
52 OUT OF 150 ITERATIONS COMPLETED - 34.666666666666664%
53 OUT OF 150 ITERATIONS COMPLETED - 35.333333333333336%
54 OUT OF 150 ITERATIONS COMPLETED - 36.0%
55 OUT OF 150 ITERATIONS COMPLETED - 36.666666666666664%
56 OUT OF 150 ITERATIONS COMPLETED - 37.333333333333336%
57 OUT OF 150 ITERATIONS COMPLETED - 38.0%
58 OUT OF 150 ITERATIONS COMPLETED - 38.666666666666664%
59 OUT OF 150 ITERATIONS COMPLETED - 39.333333333333336%
60 OUT OF 150 ITERATIONS COMPLETED - 40.0%
61 OUT OF 150 ITERATIONS COMPLETED - 40.666666666666664%
62 OUT OF 150 ITERATIONS COMPLETED - 41.333333333333336%
63 OUT OF 150 ITERATIONS COMPLETED - 42.0%
64 OUT OF 150 ITERATIONS COMPLETED - 42.666666666666664%
65 OUT OF 150 ITERATIONS COMPLETED - 43.333333333333336%
66 OUT OF 150 ITERATIONS COMPLETED - 44.0%
67 OUT OF 150 ITERATIONS COMPLETED - 44.666666666666664%
68 OUT OF 150 ITERATIONS COMPLETED - 45.333333333333336%
69 OUT OF 150 ITERATIONS COMPLETED - 46.0%
70 OUT OF 150 ITERATIONS COMPLETED - 46.666666666666664%
71 OUT OF 150 ITERATIONS COMPLETED - 47.333333333333336%
72 OUT OF 150 ITERATIONS COMPLETED - 48.0%
73 OUT OF 150 ITERATIONS COMPLETED - 48.666666666666664%
74 OUT OF 150 ITERATIONS COMPLETED - 49.333333333333336%
75 OUT OF 150 ITERATIONS COMPLETED - 50.0%
76 OUT OF 150 ITERATIONS COMPLETED - 50.666666666666664%
77 OUT OF 150 ITERATIONS COMPLETED - 51.333333333333336%
78 OUT OF 150 ITERATIONS COMPLETED - 52.0%
79 OUT OF 150 ITERATIONS COMPLETED - 52.666666666666664%
80 OUT OF 150 ITERATIONS COMPLETED - 53.333333333333336%
81 OUT OF 150 ITERATIONS COMPLETED - 54.0%
82 OUT OF 150 ITERATIONS COMPLETED - 54.666666666666664%
83 OUT OF 150 ITERATIONS COMPLETED - 55.333333333333336%
84 OUT OF 150 ITERATIONS COMPLETED - 56.0%
85 OUT OF 150 ITERATIONS COMPLETED - 56.666666666666664%
86 OUT OF 150 ITERATIONS COMPLETED - 57.333333333333336%
87 OUT OF 150 ITERATIONS COMPLETED - 58.0%
88 OUT OF 150 ITERATIONS COMPLETED - 58.666666666666664%
89 OUT OF 150 ITERATIONS COMPLETED - 59.333333333333336%
90 OUT OF 150 ITERATIONS COMPLETED - 60.0%
91 OUT OF 150 ITERATIONS COMPLETED - 60.666666666666664%
92 OUT OF 150 ITERATIONS COMPLETED - 61.333333333333336%
93 OUT OF 150 ITERATIONS COMPLETED - 62.0%
94 OUT OF 150 ITERATIONS COMPLETED - 62.666666666666664%
95 OUT OF 150 ITERATIONS COMPLETED - 63.333333333333336%
96 OUT OF 150 ITERATIONS COMPLETED - 64.0%
97 OUT OF 150 ITERATIONS COMPLETED - 64.66666666666667%
98 OUT OF 150 ITERATIONS COMPLETED - 65.33333333333333%
99 OUT OF 150 ITERATIONS COMPLETED - 66.0%
100 OUT OF 150 ITERATIONS COMPLETED - 66.66666666666667%
101 OUT OF 150 ITERATIONS COMPLETED - 67.33333333333333%
102 OUT OF 150 ITERATIONS COMPLETED - 68.0%
103 OUT OF 150 ITERATIONS COMPLETED - 68.66666666666667%
104 OUT OF 150 ITERATIONS COMPLETED - 69.33333333333333%
105 OUT OF 150 ITERATIONS COMPLETED - 70.0%
106 OUT OF 150 ITERATIONS COMPLETED - 70.66666666666667%
107 OUT OF 150 ITERATIONS COMPLETED - 71.33333333333333%
108 OUT OF 150 ITERATIONS COMPLETED - 72.0%
109 OUT OF 150 ITERATIONS COMPLETED - 72.66666666666667%
110 OUT OF 150 ITERATIONS COMPLETED - 73.33333333333333%
111 OUT OF 150 ITERATIONS COMPLETED - 74.0%
112 OUT OF 150 ITERATIONS COMPLETED - 74.66666666666667%
113 OUT OF 150 ITERATIONS COMPLETED - 75.33333333333333%
114 OUT OF 150 ITERATIONS COMPLETED - 76.0%
115 OUT OF 150 ITERATIONS COMPLETED - 76.66666666666667%
116 OUT OF 150 ITERATIONS COMPLETED - 77.33333333333333%
117 OUT OF 150 ITERATIONS COMPLETED - 78.0%
118 OUT OF 150 ITERATIONS COMPLETED - 78.66666666666667%
119 OUT OF 150 ITERATIONS COMPLETED - 79.33333333333333%
120 OUT OF 150 ITERATIONS COMPLETED - 80.0%
121 OUT OF 150 ITERATIONS COMPLETED - 80.66666666666667%
122 OUT OF 150 ITERATIONS COMPLETED - 81.33333333333333%
123 OUT OF 150 ITERATIONS COMPLETED - 82.0%
124 OUT OF 150 ITERATIONS COMPLETED - 82.66666666666667%
125 OUT OF 150 ITERATIONS COMPLETED - 83.33333333333333%
126 OUT OF 150 ITERATIONS COMPLETED - 84.0%
127 OUT OF 150 ITERATIONS COMPLETED - 84.66666666666667%
128 OUT OF 150 ITERATIONS COMPLETED - 85.33333333333333%
129 OUT OF 150 ITERATIONS COMPLETED - 86.0%
130 OUT OF 150 ITERATIONS COMPLETED - 86.66666666666667%
131 OUT OF 150 ITERATIONS COMPLETED - 87.33333333333333%
132 OUT OF 150 ITERATIONS COMPLETED - 88.0%
133 OUT OF 150 ITERATIONS COMPLETED - 88.66666666666667%
134 OUT OF 150 ITERATIONS COMPLETED - 89.33333333333333%
135 OUT OF 150 ITERATIONS COMPLETED - 90.0%
136 OUT OF 150 ITERATIONS COMPLETED - 90.66666666666667%
137 OUT OF 150 ITERATIONS COMPLETED - 91.33333333333333%
138 OUT OF 150 ITERATIONS COMPLETED - 92.0%
139 OUT OF 150 ITERATIONS COMPLETED - 92.66666666666667%
140 OUT OF 150 ITERATIONS COMPLETED - 93.33333333333333%
141 OUT OF 150 ITERATIONS COMPLETED - 94.0%
142 OUT OF 150 ITERATIONS COMPLETED - 94.66666666666667%
143 OUT OF 150 ITERATIONS COMPLETED - 95.33333333333333%
144 OUT OF 150 ITERATIONS COMPLETED - 96.0%
145 OUT OF 150 ITERATIONS COMPLETED - 96.66666666666667%
146 OUT OF 150 ITERATIONS COMPLETED - 97.33333333333333%
147 OUT OF 150 ITERATIONS COMPLETED - 98.0%
148 OUT OF 150 ITERATIONS COMPLETED - 98.66666666666667%
149 OUT OF 150 ITERATIONS COMPLETED - 99.33333333333333%
150 OUT OF 150 ITERATIONS COMPLETED - 100.0%